*
!*/
!/.gitignore
!/.gitmodules
!/.github/workflows/*.yml
!/.github/scripts/*.sh
!/.typst/*/**/*.typ
!/.typst/*/typst.toml
!/CNAME
!/Makefile
!/prettyst.toml
!/post/*/*/*.typ
!/page/*/*.typ
!/page/*/img/*.webp
!/page/*/img/*.jpg
!/func/hugo.yml
!/func/asset/img/*.webp
!/func/asset/img/*.jpg
!/func/asset/icon/*.svg
!/func/i18n/*.yml
!/func/theme
